@using WebBillPanel.Controllers
@using WebDataModel.Entities
@model ventaDto
@{
    ViewBag.Title = "Comprobante";
}
@section Styles
{
    <style>
        .doc-parent {
            height: 27.7rem;
        }

        div .doc-width {
            width: 25rem;
        }
    </style>
}
@section Scripts
{
    <script>
        $(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}
<div class="doc-parent flex-center">
    <div class="doc-width">
        <!--Card-->
        <div class="card card-cascade narrower">

            <!--Card image-->
            <div class="view overlay hm-white-slight">
                <img src="http://www.pixeden.com/media/k2/galleries/697/002-invoice-bill-pay-professional-template-print.jpg" class="img-fluid" alt="">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-block text-xs-center">
                <!--Category & Title-->
                <h5>Comprobante</h5>
                <h4 class="card-title">
                    @switch (Model.i_IdTipoDocumento)
                    {
                        case 1:
                            <strong>FACTURA ELECTRONICA</strong>
                            break;
                        case 3:
                            <strong>BOLETA ELECTRONICA</strong>
                            break;
                        case 7:
                            <strong>NOTA DE CREDITO ELECTRONICA</strong>
                            break;
                        case 8:
                            <strong>NOTA DE DEBITO ELECTRONICA</strong>
                            break;
                    }
                </h4>

                <!--Description-->
                <p class="card-text">@(Model.v_SerieDocumento + "-" + Model.v_CorrelativoDocumento)</p><br />

                <!--Card footer-->
                <div class="card-footer">
                    @{
                        var id = Encryptor.Encode(Model.v_IdVenta);
                    }
                    <span class="left">@(Model.i_IdMoneda == 1 ? "S/." : "$") @Model.d_Total.Value.ToString("N2")</span>
                    <span class="right">
                        <a class="active" href="@Url.Action("gen-pdf", "Panel", new {id})" data-toggle="tooltip" data-placement="top" title="PDF"><i class="fa fa-file-pdf-o"></i></a>
                        <a href="@Url.Action("gen-xml", "Panel", new {id})" data-toggle="tooltip" data-placement="top" title="XML"><i class="fa fa-file-excel-o"></i></a>
                    </span>
                </div>

            </div>
            <!--/.Card content-->

        </div>
        <!--/.Card-->
    </div>
</div>




