@using WebBillPanel.Controllers
@using WebDataModel.Entities
@model ventaDto
@{
    ViewBag.Title = "Comprobante";
    var config = (configuracionfacturacionDto)ViewBag.Config;
}
@helper SetInfo(string label, object content)
{
    <span class="mdl-typography--headline" style="font-weight: bold;font-size: 18px;display: block">@label</span>
    <span style="display: block">@content</span>
}
@helper SetDetail(string label, object content)
{
    <div class="form-group">
        <label class="col-sm-2 control-label">@label</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" value="@content">
        </div>
    </div>
}
@section HeadSite
{
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css"/>
    <style>
        .row-pd {
            padding: 2.8rem 2rem;
        }
    </style>
}
@section BottomSite
{
    <script src="~/Scripts/bootstrap.js"></script>
}
<br/>

@using (Html.BeginForm("LogoutDocument", "Panel", FormMethod.Post, new { id = "formLogout" }))
{
    @Html.AntiForgeryToken()
}
<div class="row row-pd">
    <div class="col-xs-12 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Informacion del Emisor
                <button id="btnLogout" onclick="javascript: document.getElementById('formLogout').submit();" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
                        style="float: right; margin-top: -0.5rem">
                    <i class="material-icons">power_settings_new</i>
                </button>
                <div class="mdl-tooltip" for="btnLogout">
                    Cerrar Sesión
                </div>
            </div>
            <div class="panel-body">
                @SetInfo("RUC", config.v_Ruc)<br/>
                @SetInfo("Razon Social", config.v_RazonSocial)<br />
                @SetInfo("Nombre Comercial", config.v_NombreComercial)<br />
                @SetInfo("Direccion", config.v_Domicilio)<br />
                @SetInfo("Resolucion SUNAT", config.v_Resolucion)
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading" style="font-weight: bold">
                @switch (Model.i_IdTipoDocumento)
                {
                    case 1:
                        <span>FACTURA ELECTRONICA</span>
                        break;
                    case 3:
                        <span>BOLETA ELECTRONICA</span>
                        break;
                    case 7:
                        <span>NOTA DE CREDITO ELECTRONICA</span>
                        break;
                    case 8:
                        <span>NOTA DE DEBITO ELECTRONICA</span>
                        break;
                }
                <span style="float: right">@(Model.v_SerieDocumento + "-" + Model.v_CorrelativoDocumento)</span>
            </div>
            <div class="panel-body" style="padding:2rem 10%">
                <form class="form-horizontal">
                    @SetDetail("Fecha", Model.t_FechaRegistro?.ToShortDateString())
                    @SetDetail("Moneda", Model.i_IdMoneda == 1 ? "SOLES" : "DOLARES")
                    @SetDetail("SubTotal", (Model.d_Valor ?? 0).ToString("N2"))
                    @SetDetail("Descuento", (Model.d_Descuento ?? 0).ToString("N2"))
                    @SetDetail("IGV", (Model.d_IGV ?? 0).ToString("N2"))
                    @SetDetail("Total", (Model.d_Total ?? 0).ToString("N2"))
                </form>
                <div class="text-center">
                    <button id="btnDownloadDoc" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                        <i class="material-icons">cloud_download</i>
                    </button>
                    <ul class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect"
                        for="btnDownloadDoc">
                        @{
                            var id = Encryptor.Encode(Model.v_IdVenta);
                        }
                        <li class="mdl-menu__item" onclick="location.href ='@Url.Action("gen-pdf", "Panel", new {id, org="vb12d"})'">Descargar PDF</li>
                        <li class="mdl-menu__item" onclick="location.href ='@Url.Action("gen-xml", "Panel", new {id, org="vb12d"})'">Descargar XML</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>



