@{
    ViewBag.Title = "Configuracion";
}
@using (Html.BeginForm("LogoutAdmin", "Home", FormMethod.Post, new { id = "formLogout" }))
{
    @Html.AntiForgeryToken()
}
@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#mdb-select').material_select();
        });
    </script>
}
@section Styles
{
    <style>
    .config-parent {
        height: 36rem;
    }

    div .config-width {
        width: 25rem;
    }
</style>
}
@if (ViewBag.IsValid != null)
{
    <div style="margin-bottom: 3rem" class="row">
        <div class="col-md-6 offset-md-3">
            <div class="alert @(ViewBag.IsValid ? "alert-success" : "alert-danger")">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                @ViewBag.Mensaje
            </div>
        </div>
    </div>
}
<div class="config-parent flex-center">
    @using (Html.BeginForm("SaveConfig", "Panel", FormMethod.Post, new { autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        <div class="card config-width">
            <div class="card-block">
                <!--Header-->
                <div class="form-header blue-gradient">
                    <h3>
                        <i class="fa fa-pencil"></i> Editar:
                    </h3>
                </div>
                <div class="md-form">
                    <select id="mdb-select" name="tipo">
                        <option value="SqlServer" @(ViewBag.IsSql ? "selected" : "")>SQL SERVER</option>
                        <option value="PostgreSql" @(ViewBag.IsSql ? "" : "selected")>POSTGRESQL</option>
                    </select>
                    <label for="mdb-select">Tipo</label>
                </div>
                <!--Body-->
                <div class="md-form">
                    <i class="fa fa-server prefix"></i>
                    <input type="text" id="server" class="form-control" name="server">
                    <label for="server">Servidor</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-user prefix"></i>
                    <input type="text" id="user" class="form-control" name="user">
                    <label for="user">Usuario</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    <input type="password" id="password" class="form-control" name="password">
                    <label for="password">Password</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-database prefix"></i>
                    <input type="text" id="database" class="form-control" name="database">
                    <label for="database">Database</label>
                </div>
                <div class="text-xs-center">
                    <button class="btn btn-indigo btn-rounded">Guardar</button>
                </div>

            </div>
        </div>
    }
</div>

