@{
    var Title = "Facturación Electrónica";
    var Empresa = "TI Soluciones";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title - @Title</title>
    <link rel="SHORTCUT ICON" href="~/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="~/Content/mdb/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="~/Content/mdb/mdbpro.min.css" rel="stylesheet">
    @RenderSection("Styles", false)
</head>
<body class="fixed-sn graphite-skin">
<header>

    <!-- Sidebar navigation -->
    <ul id="slide-out" class="side-nav fixed">
        @RenderPage("_LoginPartial.cshtml")
    </ul>
    <!--/. Sidebar navigation -->
    <!--Navbar-->
    <nav class="navbar navbar-fixed-top scrolling-navbar double-nav">
        <!-- SideNav slide-out button -->
        <div class="pull-left">
            <a data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
        </div>

        <!-- Breadcrumb-->
        <div class="breadcrumb-dn">
            <p>@Title</p>
        </div>

        <ul class="nav navbar-nav pull-right">
            @RenderPage("_AccountPartial.cshtml")
        </ul>

    </nav>
    <!--/.Navbar-->

</header>

<main class="">
    <div class="container">
        @RenderBody()
    </div>
</main>

<footer class="page-footer">

    <!--Social buttons-->
    <div class="social-section">
        <ul>
            <li><a class="btn-floating btn-small btn-fb waves-effect waves-light"><i class="fa fa-facebook"> </i></a></li>
            <li><a class="btn-floating btn-small btn-tw waves-effect waves-light"><i class="fa fa-twitter"> </i></a></li>
            <li><a class="btn-floating btn-small btn-gplus waves-effect waves-light"><i class="fa fa-google-plus"> </i></a></li>
            <li><a class="btn-floating btn-small btn-li waves-effect waves-light"><i class="fa fa-linkedin"> </i></a></li>
            @*<li><a class="btn-floating btn-small btn-ins waves-effect waves-light"><i class="fa fa-instagram"> </i></a></li>*@
        </ul>
    </div>
    <!--/.Social buttons-->
    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © @DateTime.Now.Year Copyright: <a href="http://www.tisoluciones.net">@Empresa</a>
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<!-- JQuery -->
<script type="text/javascript" src="~/Scripts/mdb/jquery-2.2.3.min.js"></script>

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="~/Scripts/mdb/tether.min.js"></script>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="~/Scripts/mdb/bootstrap.min.js"></script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="~/Scripts/mdb/mdbpro.min.js"></script>
<script>
    $(".button-collapse").sideNav();
    var el = document.querySelector('.custom-scrollbar');
    Ps.initialize(el);
</script>
@RenderSection("Scripts", false)
</body>
</html>
